body {
    background-color: hsl(338, 33%, 9%);
    color: whitesmoke;
    user-select: none;
}

#container {
    width: 19em;
    display: grid;
    gap: 1em;
}

label {
    font-size: smaller;
    font-weight: bolder;
    font-family: system-ui;
}

button {
    background-color: hsl(0, 0%, 70%);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    font-size: small;
    font-weight: 400;
    font-family: system-ui;
    cursor: pointer;
    transition: transform 0.15s ease;
}

button:active {
    transform: scale(0.96);
    transition: transform 0.15s ease;
}

button:disabled {
    cursor: default;
    background-color: hsl(0, 0%, 50%);
}

select {
    background-color: hsl(0, 0%, 70%);
    padding: 6px 0px;
    font-size: small;
    font-weight: 400;
    font-family: system-ui;
    outline: none;
    cursor: pointer;
}

option:hover {
    cursor: pointer;
    background:hsl(338, 33%, 9%);
    color:hsl(0, 0%, 70%);
}

.settings {
    display: inline-block;
    padding: 5px;
    border: 1px solid hsl(0, 0%, 60%);;
    width: 41%;
    text-align: center;
    cursor: pointer;
    position: relative;

}

#current {
    margin-top: 12px;
    margin-right: 6px;
}

#all {
    margin-left: 6px;
}

.setting_select {
    background-color: hsl(0, 0%, 70%);
    color: black;
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
    -webkit-appearance: none;
     appearance: none;
     background: transparent;
     cursor: pointer;
 }
 
 /* Removes default focus */
 input[type="range"]:focus {
   outline: none;
 }
 
 /***** Chrome, Safari, Opera and Edge Chromium styles *****/
 /* slider track */
 input[type="range"]::-webkit-slider-runnable-track {
    background-color: hsl(340, 21%, 14%);
    height: 0.5rem;  
 }
 
 /* slider thumb */
 input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -8px; /* Centers thumb on the track */
 
    /*custom styles*/
    background-color: #b4b4b4;
    height: 1.4rem;
    width: 1rem;
 }