body {
    background-color: hsl(338, 33%, 9%);
    color: whitesmoke;
}

#container {
    width: 26em;
    display: grid;
    gap: 1em;
}

label {
    font-size: smaller;
    font-weight: bolder;
    font-family: system-ui;
}

button {
    background-color: hsl(0, 0%, 70%);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    font-size: small;
    font-weight: 400;
    font-family: system-ui;
}

button:active {
    border: 1px solid whitesmoke;
}

select {
    background-color: hsl(0, 0%, 70%);
    padding: 6px 0px;
    font-size: small;
    font-weight: 400;
    font-family: system-ui;
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
    -webkit-appearance: none;
     appearance: none;
     background: transparent;
     cursor: pointer;
 }
 
 /* Removes default focus */
 input[type="range"]:focus {
   outline: none;
 }
 
 /***** Chrome, Safari, Opera and Edge Chromium styles *****/
 /* slider track */
 input[type="range"]::-webkit-slider-runnable-track {
    background-color: hsl(340, 21%, 14%);
    height: 0.5rem;  
 }
 
 /* slider thumb */
 input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -8px; /* Centers thumb on the track */
 
    /*custom styles*/
    background-color: #b4b4b4;
    height: 1.4rem;
    width: 1rem;
 }